# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Packaging / Build
# =========================
build/
dist/
develop-eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.mypy_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.envrc

# =========================
# VS Code
# =========================
.vscode/

# =========================
# GIS Outputs
# =========================
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.qml
*.kmz
*.csv
*.tif
*.tiff

# =========================
# OS
# =========================
.DS_Store
Thumbs.db